.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.button {
    padding: 12px;
    font-size: 20px;
    background-color: #8a6707;
    border-radius: 4px;
    color: white;
    margin: 12px 0;
    font-weight: bold;
    cursor: pointer;
}

