.container {
    display: flex;
    align-items: center;
}



.infoBox {
    padding: 12px;
    font-size: 20px;
    background-color: #9d9d9d;
    border-radius: 4px;
    color: white;
    margin: 12px;
    font-weight: bold;
}

.scores{
    display: flex;
    flex-direction: column;
    background-color: #624673;
    border-radius: 4px;
    color: white;
    padding: 12px;
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    align-items: flex-start;
}

.scoreBox{
}